.dashboard__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-height: 100vh;
	background: #f8f8f8;
	padding-bottom: 80px;
}

.dashboard__content {
	max-width: 1640px;
	width: 100%;
	margin: 0 auto;

	@media screen and (max-width: 1650px) {
		max-width: 1280px;
	}

	@media screen and (max-width: 1280px) {
		max-width: 1140px;
	}
}

.dashboard__breadcrumbs {
	padding: 25px 0 15px;

	a {
		color: #909090;
		text-decoration: none;
		font-size: 14px;
	}

	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			&:after {
				content: "»";
				padding: 0px 5px;
			}

			&:last-child:after {
				display: none;
			}
		}
	}
}

.dashboard__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 30px 80px;
	background: #fff;

	&__menu__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 60px;
		cursor: pointer;

		span {
			margin: 0 2px;
			width: 1px;
			height: 18px;
			background: #909090;
			display: block;
			opacity: 1;
			transition: 0.3s ease-in-out;
		}
	}

	&__logo {
		svg {
			width: 140px;
			height: auto;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 0.4px;
	}

	&__section {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__profile {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		> span {
			font-weight: bold;
			color: #000;
		}

		&__logout {
			font-weight: bold;
			color: #666;
		}
	}
}

.dashboard__filters {
	padding: 20px 0;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;

	.nice-dates-popover {
		width: 400px;
		@media screen and (max-width: 1280px) {
			width: 250px;
		}
	}

	.nice-dates-day {
		&:after {
			border-radius: 0;
			border-width: 1px;
		}
		&:before {
			border-radius: 0;
		}
	}
}

.dashboard__metrics {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;

	&__group {
		width: calc(50% - 10px);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		height: 100%;
	}
}

.dashboard__metric {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	width: calc(50% - 10px);
	margin: 10px 0;
	cursor: pointer;
	background: #fff;
	transition: 0.3s ease-out;

	&:hover {
		background: #2f2f2f;
	}

	> div {
		width: 100%;
	}

	&.active {
		background: linear-gradient(#515151, #2f2f2f);
	}

	&:hover &__title,
	&:hover &__value,
	&.active &__title,
	&.active &__value {
		color: #fff;
	}

	&__title {
		padding: 0 0 10px;
		font-size: 1.14285714rem;
		color: #909090;
		text-transform: uppercase;
		font-weight: bold;
		text-align: left;
	}

	&__value {
		text-align: right;
		font-family: "Karla", Helvetica, sans-serif;
		font-weight: 700;
		color: #000;
		font-size: 3.28571429rem;
	}

	&__subtitle {
		text-align: right;
		font-size: 1.14285714rem;
		font-weight: 400;
		color: #909090;
		width: 100%;
	}

	&__description {
		margin: 10px 0;
		padding: 15px 0;
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid #f8f8f8;
		color: #909090;
		text-align: left;
		font-size: 14px;
		min-height: 82px;

		@media screen and (max-width: 1280px) {
			min-height: 100px;
		}

		span {
			display: block;
			max-width: 85%;
			word-break: break-all;
		}
	}

	&__meta {
		text-align: right;
		color: #fd4b4b;
		font-weight: 700;
	}
}

.dashboard__map {
	width: calc(50% - 10px);
	height: calc(100% - 20px);
	position: absolute;
	right: 0;
	top: 10px;

	#mapChart {
		position: absolute;
		height: calc(100% - 20px);
		width: calc(100% - 20px);
		top: 10px;
		left: 10px;
	}
}

.dashboard__perfomance {
	height: max-content;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 20px;
}

.dashboard__metrics__form {
	margin-bottom: 20px;
	.nice-dates-popover {
		width: 290px;
	}
}
